@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.el-user-switch {
  background-color: var(--e-global-color-3eec4d9);
  font-size: 14px;
  padding: 0 $g-logo-xs;
  color: #fff;
  height: $header-bottom-mobile;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(lg) {
    padding: 5px $g-logo-small;
  }

  @include media-breakpoint-up(xl) {
    height: $header-bottom-desktop;
    font-size: 18px;
    padding: 10px $g-logo-large;
  }

  a {
    color: #fff;
    display: inline-block;
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }
  }

  .active {
    font-weight: bold;
  }

  &__list {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__dropdown {
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    .form-select {
      width: 100%;
      box-shadow: none;
      outline: none;
      border: 0;
      border-radius: 0;
      appearance: none;
      -webkit-appearance: none;
      height: $header-bottom-mobile;
      padding-left: 0;
      padding-right: 15px;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      background: transparent url('#{$images-from-widgets}/chev-down-white.svg') right 5px center / 10px no-repeat;
    }
  }
}
